@font-face{
    font-family: robotoRegular;
    src: url(../fonte/roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: robotoBold;
    src: url(../fonte/roboto/Roboto-Bold.ttf);
}

@font-face{
    font-family: robotoMedium;
    src: url(../fonte/roboto/Roboto-Medium.ttf);
}
