.back{
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.img{
    width: inherit;
    height: inherit;
}
.hr{
    width: 93%;
    height: 2px;
    background-color:rgb(197, 196, 196);
    margin-top: 15px;
    margin-bottom: 18px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.vertical_center{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

body{
    height: 100vh;
    font-family:  Helvetica, 'Sego UI', Arial, sans-serif;   
}


@media (min-width: 1000px){
    
    .sombra_input{
        box-shadow: rgba(0, 0, 0, 0.219) 0px 0px 5px;
    }
    /*Estilização escolha_cadastro.html */
    .background_escolha_cadastro{
        background-image: url(../imagens/background_tipo_cadastro.jpg);
    }

    #container_all_tipo_cadastro{
        width: 100vw;
        height: 100vh;        
    }
    
    #header_cadastro{
        width: inherit;
        height: 70px;
        background-color: rgb(33, 29, 54);
        position: fixed;
        z-index: 999;
        margin-bottom: 50px;
    }
    #espaco{
        width: inherit;
        height: 70px;
        margin-bottom: 50px;
    }
    
    #icone_logo{
        width: 65px;
        height: 65px;
    }
    
    #logo{
        width: inherit;
        height: inherit;
    }
    
    #conteudo_tipo_cadastro{
        width: 70%;
        height: 650px; 
    }
    
    .caixa_titulo{
        height: 60px;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    
    #titulo{
        font-size: 2.3em;
        font-weight: bold;
        color: white;
        text-shadow: rgba(0,0,0,0.5) 0.1em 0.1em 0.2em;
    }
    
    .caixa_cards{
        width: 100%;
        height: 100%;
        /* background-color: #353266; */
        display: flex;
        align-items: center;
        justify-content: center 
    }
    
    .item_card{
        width: 375px;
        height: 450px;
        border-radius: 8px;
        margin-left: 35px;
        margin-top: 20px;
        float: left;
        box-shadow:  rgba(0,0,0,0.3) 0px 0px 10px;
        opacity: 0.85;
    }    
    #espaço_card{
        margin-right:50px; 
    }
    
    .header_card{
        width: 100%;
        height: 60px;
    }
    
    .icone_header_card{
        width: 60px;
        height: inherit;
        float: left;
    }
    
    .title_header_card{
        width: 220px;
        height: inherit;
        float: left;
        padding-left: 10px;
        margin-top: 5px;
        /* background-color: #353266; */
    }
    
    .line{
        border: 0.5px solid #8a8a8a;
    }
    
    .texto_card{
        text-align: center;
        padding-top: 10px;
        font-size: 1.5em;
    }
    
    .formatacao_titulo_card{
        font-size: 1.50em;
        font-weight: bold;
    }
    
    .icones{
        width: 50px;
        height: 50px;
        margin-top: 5px;
    }
    
    #icone_esquerdo_footer{
        width: 70px;
        height: 70px;
        margin-top: 5%;
    }
    
    #icone_direito_footer{
        width: 70px;
        height: 70px;
        margin-left: 80%;
        margin-top: 15%;
    }
    
    .icone_seta{
        width: 50px;
        height: 50px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
    #caixa_botao{
        width: 170px;
        height: 60px;
        z-index: 999;
        position: absolute;
        margin-top: 20px;
        margin-right: 50px;

    }
    
    #button{
        width: 100%;
        height: 60px;
        background-color: rgba(255, 0, 0, 0);
        border: 3px solid rgb(92, 69, 239);
        border-radius: 50px;
        box-shadow: rgba(0,0,0, 0.5) 0px 0px 0px;
        outline: none;
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;
        color:white;
    }
    
    /* Efeitos escolha_cadastro.html */
    #button:hover{
        background-color: rgb(92, 69, 239);
        box-shadow:  rgba(0,0,0, 0.6) 1px 1px 15px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .item_card:hover{
        box-shadow:  rgba(0,0,0, 0.4) 1px 1px 15px;
        cursor: pointer;
        opacity: 1;
        transition: 0.2s;
    }
    
    
    .item_card:hover>.card-body>.header_card>.title_header_card>.card-title{
        color: rgb(36, 60, 138);
        transition: 0.5s;   
    }
    
    .item_card:hover>.card-body>#icone_esquerdo_footer>.icone_seta{
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    .item_card:hover>.card-body>#icone_direito_footer>.icone_seta{
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    /*Estilização login.html */

    .background_login{
        background-image: url(../imagens/background_login.jpg);
    }
    
    #container_all_login{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #container_form_login{
        width: 450px;
        height: 650px;
        background-color:white;
        box-shadow:  rgba(0, 0, 0, 0.336) 1px 1px 15px;
        border-radius: 8px;
        padding-top: 20px;
    }
    
    #container_titulo_form{
        width: 100%;
        height: 10%;
        text-align: center;
        font-size: 2.8em;    
    }

    #container_titulo_form h3{
        color: #505055; 
    }
    
    #container_logotipo{
        width: 100%;
        height: 100px;
        /* background-color: #38164e; */
        margin-top: 25px;
        margin-bottom: 50px;
    }
    
    #logotipo{
        width: 350px;
        height: 100px;
        position: relative;
        left: 50%;
        transform: translateX(-50%); 
    }
    
    #form_login{
        width: 100%;
        height: 500px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 50px;
    }
    
    .label{
        font-size:1.2em;
        color: #505055;  
    }

    .caixa_de_texto{
        box-shadow: rgba(0,0,0, 0.5) 0px 0px 2px;
    }

    #div_senha span{
        margin-top: 10px;
        text-align: right;
        color: #505055;
        font-weight: 500; 
    }

    #div_senha span:hover{
        color: #904abe;
        cursor: pointer;
        transition: 0.2s;
    }
        
    .align_button{
        padding-top: 20px;
        text-align: right;
    }
    
    #btn_entrar{
        background-color: #2b2069;
        /* border-radius: 50px; */
        box-shadow: rgba(0,0,0, 0.5) 0px 0px 5px;
        color: white;
        margin-bottom:10px;
    }
    
    .align_button span{
        font-weight: bold;
    }


    .align_button span:hover{
        color: #904abe;
        cursor: pointer;
        transition: 0.2s;
    }

    /* Estilização cadastro_estabelecimento.html*/
    .body_cadastro{
        overflow-x: hidden;
        background-image: linear-gradient(#374197, #61228b);
    }

    #container_all_cadastro{
        width: 100vw;
        height: 100vh;  
        /* overflow: hidden;       */
    }


    #conteudo_cadastro{
        width: 1000px;
        /*div cresendo automaticamente*/
        min-height: 500px;
        height: auto;
        overflow: hidden;
        /**/
        background-color: white;
        margin-bottom: 50px;
        border-radius: 10px;
    }

    #titulo_cadastro{
        width: 500px;
        height: 165px;
        padding-top: 10px;
        /*font*/
        font-size: 48px;
        text-align: center;
        color: black;   
        font-weight: bold; 
    }

    .card_informacoes_conta{
        width: inherit;
        /*crecer automatico*/
        min-height: 200px;
        height: auto;
        overflow: hidden;
        display: flex;
    }

    .informacoes_conta_esquerda{
        width: 250px;
        padding-left: 30px;
    }
    .informacoes_conta_esquerda span{
        font-weight: bold;
        font-size: 30px;
    }
    .informacoes_conta_esquerda small{
        font-size: 15px;
        color: rgb(103, 104, 102);
        line-height: 10%;
    }

    .informacoes_conta_direita{
        width: 749px;
        padding-left: 50px;
        /*font*/
        font-size: 17px;
    }
    #caixa_botao_cadastro_estabeleciemento{
        width: inherit;
        height: 100px;
        box-sizing: border-box;
        padding-left: 640px;
        padding-top: 15px;
    }
    .botao_cadastro{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border:none;
        outline: none;
        background-color: #304fb4;
        color: white;
        font-size: 20px;
    }
    .botao_cadastro:hover{
        transition: 0.5s;
        background-color: #193388;
    }
    .botao_cancelar_cadastro{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border:none;
        outline: none;
        background-color: #304fb400;
        color: rgb(131, 131, 131);
        font-size: 20px;
    }

    .botao_cancelar_cadastro:hover{
        transition: 0.1s;
        color: rgb(197, 0, 0);
    }

    /*landing_page*/

    .conteiner_menu{
        width: 100%;
        height: 90px;
        position: fixed;
        background-color: #202174;
    }

    #ul_menu{
        width: 1400px;
        height: inherit;    
        box-sizing: border-box;
        list-style: none;
    }

    #botao_entrar_menu{
        width: 150px;
        height: inherit;
        padding-top: 25px;
        margin-left: 15px;
        float: left;
    }

    #botao_entrar{
        width: 150px;
        height: 50px;
        border: none;
        outline: none;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.589);
        border-radius: 10px;
        background-color: #4E329D;
        color: white;
        font-size: 25px;
        font-family: robotoBold;
    }
    .item_menu{
        width: 168px;
        height: inherit;
        margin-left: 10px;
        padding-top: 28px;
        padding-left: 5px;
        float: left;
        color: white;
        font-size: 25px;
        font-family: robotoBold;
    }
    #margin_item{
        margin-left: 80px !important;
    }
    #img_menu{
        width: 310px;
        height: 90px;
        margin-left: 130px;
        float: left;
    }
    #linhar_item{
        margin-left: 25px;
    }

    .container_faixa{
        width: 100%;
        min-height: 100px;
        height: auto;
        overflow: hidden;   
    }
    #espaco_landing{
        width: 100%;
        height: 90px;
    }
    #caixa_header{
        width: 100%;
        min-height: 100px;
        height: auto;
        overflow: hidden;
        background-image: url(../imagens/background1.jpg);
        
    }
    #headerlanding_page{
        width: 1400px;
        height: 800px;
    }
    #titulo_header{
        width: 1000px;
        height: inherit;
        margin-left: auto;
        padding-top: 150px;
    }
    #titulo_header{
        font-family: robotoBold;
        text-align: center;
        font-size: 60px;
        color: white;
    }

    #botao_entrar_grande{
        width: 250px;
        height: 100px;
        margin-top: 150px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: #5451DB;
    }

}

