body{
    height: 100%;
    font-family:  Helvetica, 'Sego UI', Arial, sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.vertical_center{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}


/*Estilização escolha_cadastro.html */
#container_all_tipo_cadastro{
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/background_tipo_cadastro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header_cadastro{
    width: inherit;
    height: 70px;
    background-color: rgb(33, 29, 54);
}

#icone_logo{
    width: 65px;
    height: 65px;
}

#logo{
    width: inherit;
    height: inherit;
}

#conteudo_tipo_cadastro{
    width: 56%;
    height: 650px; 
}

.caixa_titulo{
    height: 60px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#titulo{
    font-size: 2.3em;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0,0,0,0.5) 0.1em 0.1em 0.2em;
}

.caixa_cards{
    width: 100%;
    height: 460px;
}

.item_card{
    width: 45%;
    height: 400px;
    border-radius: 8px;
    margin-left: 27px;
    margin-top: 100px;
    float: left;
    box-shadow:  rgba(0,0,0,0.3) 0.1em 0.1em 0.2em;
}

#espaço_card{
    margin-right:22px; 
}

.header_card{
    width: 100%;
    height: 60px;
}

.icone_header_card{
    width: 60px;
    height: inherit;
    float: left;
}

.title_header_card{
    width: 300px;
    height: inherit;
    float: left;
    padding-left: 10px;
    margin-top: 5px;
}

.line{
    border: 0.5px solid #8a8a8a;
}

.texto_card{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}

.formatacao_titulo_card{
    font-size: 1.55em;
    font-weight: bold;
}

.icones{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

#icone_esquerdo_footer{
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

#icone_direito_footer{
    width: 70px;
    height: 70px;
    margin-left: 80%;
    margin-top: 8%;
}

.icone_seta{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

#caixa_botao{
    width: 170px;
    height: 60px;
    z-index: 999;
    position: absolute;
    margin-top: 5%;
    margin-right:  15%;
}

#button{
    width: 100%;
    height: 60px;
    background-color: rgb(92, 69, 239);
    border-radius: 50px;
    box-shadow:  rgba(0,0,0, 0.5) 0px 0px 0px;
    border: none;
    outline: none;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    color:white;
}

/* Efeitos escolha_cadastro.html */
#button:hover{
    background-color: rgb(51, 39, 126);
    box-shadow:  rgba(0,0,0, 0.6) 1px 1px 15px;
    transition: 0.5s;
}

.item_card:hover{
    box-shadow:  rgba(0,0,0, 0.4) 1px 1px 15px;
    cursor: pointer;
    transition: 0.2s;
}

.item_card:hover>.card-body{
    background-color:rgb(221, 221, 221);
    transition: 0.2s;   
}

.item_card:hover>.card-body>.header_card>.title_header_card>.card-title{
    color: rgb(36, 60, 138);
    transition: 0.5s;   
}

.item_card:hover>.card-body>#icone_esquerdo_footer>.icone_seta{
    transform: scale(1.1);
    transition: 0.5s;
}

.item_card:hover>.card-body>#icone_direito_footer>.icone_seta{
    transform: scale(1.1);
    transition: 0.5s;
}

/*Estilização login.html */

#container_all_login{
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(#4648b1,#38164e); */
    /* background-image: url("../imagens/639941-POKH4B-214.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container_form_login{
    width: 450px;
    height: 700px;
    background-color:white;
    box-shadow:  rgba(0, 0, 0, 0.336) 1px 1px 15px;
    border-radius: 8px;
    padding-top: 20px;
}

#container_titulo_form{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 2.8em;    
}

#container_logotipo{
    width: 100%;
    height: 100px;
    /* background-color: #38164e; */
    margin-top: 25px;
    margin-bottom: 50px;
}

#logotipo{
    width: 350px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

#form_login{
    width: 100%;
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

.label{
    font-size:1.2em; 
}

.esqueceu_senha{
    text-align:right;
    font-size:1.1em; 
    margin-top: 10px;
    cursor: pointer;
}

.align_button{
    padding-top: 50px;
}

#btn_entrar{
    background-color: #353266;
    /* border-radius: 50px; */
    box-shadow:  rgba(0,0,0, 0.5) 1px 1px 0px;
    color: white;
}




